.data-table {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.full-width {
    width: 100%
}

.table-header {
    background-color: #ffbf00;
}

.header-height {
    height: 60px;
}

.body-height {
    height: 80px;
}

th {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    border-right: 1px dotted #000000;
    border-left: 1px dotted #000000;
}

td {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    border-right: 1px dotted #000000;
    border-left: 1px dotted #000000;
}

.right-border {
    border-right: 1px solid #000000;
}

.left-border {
    border-left: 1px solid #000000;
}

.italic-font {
    font-style: italic;
}

.center-text-align {
    text-align: center;
    width: 12.5%;
}

.empty-data {
    text-align: center;
    padding: 20px;
    background-color: #40b0a0;
    margin-left: 20px;
    margin-right: 20px;
    font-style: italic;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.countryFlag {
    width: 125px;
    height: 70px;
    border: 1px solid #000000;
}